.DS_Store
.project
.settings
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
test/contracts
testNew/testchain/geth
testNew/testchain/geth.ipc
testNew/testchain/history
testNew/contracts
private
