.DS_Store
.project
.settings
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
test/contracts
testOld/testchain/geth
testOld/testchain/geth.ipc
testOld/testchain/history
testOld/contracts
testOld1/testchain/geth
testOld1/testchain/geth.ipc
testOld1/testchain/history
testOld1/contracts
private
